ftptool==0.7.1
-e git+http://github.com/szlaci83/mediafire-python-open-sdk.git@3f129a0149d8fea50f77016da781b3ba61364d61#egg=mediafire
Pillow==7.0.0
pymongo==3.10.0
requests==2.11.1
requests-toolbelt==0.9.1
six==1.12.0
Unidecode==1.1.1
